{% extends 'layouts.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" id="header">You have signed out</h1>
      <p class="govuk-body">You can <a href="https://www.gov.uk/" class="govuk-link" target="_blank">return to GOV.UK</a> or close your browser window.</p>
    </div>
  </div>
{% endblock %}
